.change-password{

display:flex;
justify-content:center;
align-items:center;
min-height:80vh;

}

.change-password-container{

width:420px;
padding:35px;
background:white;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,.1);

display:flex;
flex-direction:column;
gap:20px;

}

.change-password-container h2{

text-align:center;

}

.change-password-container input{

padding:12px;
border:1px solid #ddd;
border-radius:8px;
outline:none;

}

.change-password-container button{

padding:14px;
background:tomato;
color:white;
border:none;
border-radius:8px;
cursor:pointer;

}