.theme-toggle{

    background: tomato;

    color: white;

    border: none;

    outline: none;

    padding: 8px 18px;

    border-radius: 8px;

    cursor: pointer;

    font-size: 14px;

    transition: .3s;
}

.theme-toggle:hover{

    opacity: .9;

}